@import './variable.scss';
@import './root.scss';
@import './utility.scss';

header {
    background-color: $firstBcgColor;
    position: relative;

    .mobileNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding : $padding;
    }

    .circle {
        width : 30px;
        height : 30px;
        background-color: red;
        border-radius: 50%;
    }

    .toggleWrap {
        text-align: center;

        p {
            font-size: .7em;
            margin-top : .5em;
        }
    }

    .hamburger {

        .one,
        .two,
        .three {
            width: 30px;
            height: 3px;
            background-color: #000;
            margin: 5px 0;
            cursor: pointer;
            transition: .5s ease-in-out;
        }

        .one.active {
            transform: translate(-20px,7px) rotate(45deg);
        }
        .two.active {
            transform: translateX(1000px);
            opacity: 0;
        }
        .three.active {
            transform: translate(-20px,-10px) rotate(-45deg);
        }
    }
}

.tabletNav {
    display: none;
}

.sidenavContainer,
.projectContainer {
    display: none;
}

.sidenavContainer.active_nav {
    display: block;
    background-color: #21D19F;
    width: 300px;
    height : 100vh;
    position: absolute;
    z-index: 2;
    right : 0;
    padding : $padding;

    .cross {
        position: relative;
        right : -90%;

        .line {
            width: 20px;
            height: 3px;
            background-color: #000;
            margin: 5px 0;
            cursor: pointer;
            transition: .5s ease-in-out;

            &:nth-of-type(1) {
                transform: rotate(40deg) translateY(5px);
            }
            &:nth-of-type(2) {
                transform: rotate(-40deg) translateY(-5px);
            }
        }

    }
    li {
        margin-bottom: 10px;

        a {
            font-size: 1.2em;
        }

        ion-icon {
            font-size: 1.5em;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

// intro section
.intro {
    background-color: $firstBcgColor;
    padding: 2em $padding;
    // background-image: url('../asset/4853433.jpg');
    // background-size: cover;

    h1 {
        font-size : $headerFontSize;
        font-family: $headerFont;
        color : $headerFontColor;
        margin-bottom: .5em;
    }

    h2 {
        font-size : 1.5em;
        margin-bottom: 1em;
    }
}
// work section
.work {
    background-color: $secondBcgColor;
    padding : $padding;

    h2 {
        text-align: center;
        padding-top: 1em;
        font-size : 1.5em;
        margin-bottom: 1em;
        color: $bodyFontColor;
    }

    .card {
        width : 200px;
        position: relative;

        img {
            border-radius: 20px;
            width: 100%;
            height: 300px;
            object-fit: cover;
            transition: .5s ease-out;
            filter: brightness(100%);

            &:hover {
                opacity: .5;
                filter: brightness(50%);
            }
        }
    }

    .workDescription {
        display: none;
        position: absolute;
        color : $bodyFontColor;
        top : 30%;
        text-align: center;
        background-color: #9E9C9C;
        animation: fadein .5s 1;
        padding : 15px;

        h3 {
            font-size: 1.4em;
            color : $headerFontColor;
            margin-bottom: .5em;
        }

        p {
            color : white;
        }
       
    }

    @keyframes fadein {
        from {
            transform: translateY(-100px);
        }
        to {
            transform: translateY(0px);
        }
    }

    .work_active {
        display: block;
    }

    .tabletMode {
        display: none;
    }
}
// tools section
.tools {
    background-color: $firstBcgColor;
    padding : $padding;

    h2 {
        text-align: center;
        padding-top: 1em;
        font-size : 1.5em;
        margin-bottom: 1em;
        color: $bodyFontColor;
    }

    .toolsWrap {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(4, 1fr);
        gap : 10px;

        div {
            width : 50px;
            height : 50px;
            background-color: red;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color : white;
        }
    }
}


// recent work section
.recentWork {
    padding: $padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 10px;
    background-color : $secondBcgColor;

    h2 {
        text-align: center;
        padding-top: 1em;
        font-size : 1.5em;
        margin-bottom: 1em;
        color: $bodyFontColor;
    }

    .showCase {
        width: 200px;
        height: 100px;
        background-color: lightcoral;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: $bodyFontColor;
    }
}
// contact section
.contact {
    padding : $padding;
    background-color: $firstBcgColor;

    h2 {
        text-align: center;
        padding-top: 1em;
        font-size : 1.5em;
        margin-bottom: 1em;
        color: $bodyFontColor;
    }

    h3 {
        text-align: center;
        font-size : 1em;
        margin-bottom: 1em;
        color: $bodyFontColor;
    }

    form {
        display: flex;
        flex-direction: column;
        gap : 10px;
        margin-bottom: 1.5em;

        .formWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:nth-of-type(3) {
                align-items: flex-start;
            }
        }

        input {
            padding : 10px;
            width : 70%;
            font-size: $bodyFontSize;
        }

        button {
            width : 10.71em;
            padding : 10px;
            border: none;
            border-radius: 10px;
            font-size: 1.2em;
            color : $headerFontColor;
            margin-inline: auto;
        }
    }

    .error,
    .errorEmail
    {
        display: none;
        color : red;
    }
    .error_active,
    .errorEmail_active {
        display: block;
    }
}

footer {
    background-color: $secondBcgColor;
    padding: $padding;
    display: flex;
    flex-direction: column;
    align-items: center;

    .circle {
        width : 30px;
        height : 30px;
        background-color: red;
        border-radius: 50%;
    }

    h4 {
        font-size: $bodyFontSize;
        color : $bodyFontColor;
        margin-top: 1.5em;
    }

    ul {
        text-align: center;
        margin-block : 1em;
    }

    li {
        margin-bottom: .8em;
    }


    .socialMediaWrap {
        display: flex;
        gap: 10px;
    }
}