@import './variable.scss';
@import './root.scss';
@import './utility.scss';
@import './mixin.scss';

header {
    background-color: $firstBcgColor;
    position: relative;

    .mobileNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding : $padding;

        @include mQ($tablet) {
            padding : 20px;
        }
    }

    .circle {
        width : 30px;
        height : 30px;
        background-color: red;
        border-radius: 50%;
    }

    .toggleWrap {
        text-align: center;

        p {
            font-size: .7em;
            margin-top : .5em;

            @include mQ($tablet) {
                font-size: .9em;
                margin-top: 0;
            }
        }

        @include mQ($tablet) {
            display: flex;
            align-items: center;
            gap : 10px;
        }
    }

    .hamburger {

        .one,
        .two,
        .three {
            width: 30px;
            height: 3px;
            background-color: #000;
            margin: 5px 0;
            cursor: pointer;
            transition: .5s ease-in-out;
        }

        .one.active {
            transform: translate(-20px,7px) rotate(45deg);
        }
        .two.active {
            transform: translateX(1000px);
            opacity: 0;
        }
        .three.active {
            transform: translate(-20px,-10px) rotate(-45deg);
        }

        @include mQ($tablet) {
            display: none;
        }
    }
}

.tabletNav {
    display: none;

    @include mQ($tablet) {
        display: flex;
        gap : 10px;
    }

    a {
        color : #2F4858;

        @include mQ($tablet) {
            font-size: 1.3em;
        }

        @include mQ($desktop) {
            font-size: 1.5em;
        }
    }
}



.sidenavContainer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: $secondBcgColor;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenavContainer.active_nav {
    height : 100vh;

    .navList {
        padding : $padding;
    }

    li {
        margin-bottom: 1.5em;
        margin-left: -10px;
        padding : $padding;
        transition: .3s ease-in-out;

        a {
            font-size: 1.4em;
            transition: .3s ease-in-out;
            color : #200116;
        }

        ion-icon {
            font-size: 1.5em;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &:hover {
            background-color: #1A535C;

            a {
                color : #B5FFE1;
            }
        }
    }
}

.projectContainer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    background-color: #7C898B;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;

    .projectContainer.active_nav {
        height : 100%;
    }

    .projects {
        padding : $padding;

        li {
            margin-bottom: 1.5em;
            margin-left: -10px;
            padding : $padding;
            transition: .3s ease-in-out;
    
            a {
                font-size: 1.4em;
                transition: .3s ease-in-out;
                color : #EDFFEC;
            }
    
            ion-icon {
                font-size: 1.5em;
                color : #EDFFEC;
            }
    
            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
    
            &:hover {
                background-color: #5E4955;
    
                a {
                    color : #B5FFE1;
                }
            }
        }
    }
}

// intro section
.intro {
    background-color: $firstBcgColor;
    padding: 2em $padding;
    position: relative;

    h1 {
        font-size : $headerFontSize;
        font-family: $headerFont;
        color : $headerFontColor;
        margin-bottom: .5em;

        @include mQ($tablet) {
            font-size: 5vw;
        }
    }

    h2 {
        font-size : 1.5em;
        display: inline-block;
        position: absolute;

        @include mQ($desktop) {
            font-size: 1.8em;
        }
    } 

    p {
        margin-top : 4em;
        line-height: 1.5em;
        font-size: 1.1em;

        @include mQ($desktop) {
            font-size: 1.3em;
            max-width: 80ch;
        }
    }

    #blink {
        display: inline-block;
        vertical-align: middle;
        width: 2px;
        height: 20px;
        background-color: black;
        animation: blinker .8s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
}
// work section
.work {
    background-color: $secondBcgColor;
    padding : 2em;
    z-index: 1;

    h2 {
        text-align: center;
        padding-top: 1em;
        font-size : 1.5em;
        margin-bottom: 1em;
        color: $bodyFontColor;

        @include mQ($tablet) {
            font-size : 2em;
        }
    }


    .workDescription {
  
        border-radius: 20px;
        position : relative;
        bottom : 2em;
        color : $bodyFontColor;
        text-align: center;
        background-color: #9E9C9C;
        transform: translateY(-140px);
        transition : .5s ease-out;
        padding : 15px;
        width : 300px;

        h3 {
            margin-top: 1em;
            font-size: 1.4em;
            color : $headerFontColor;
            margin-bottom: .5em;
        }

        p {
            color : white;
        }
       
    }

    .work_active {
        transform: translateY(-5px);
    }
}
// tools section
.tools {
    background-color: $firstBcgColor;
    padding : $padding;

    h2 {
        text-align: center;
        padding-top: 1em;
        font-size : 1.5em;
        margin-bottom: 1em;
        color: $bodyFontColor;

        @include mQ($tablet) {
            font-size : 2em;
        }
    }

    .toolsWrap {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(4, 1fr);
        gap : 10px;


        img {
            width : 50px;
            height : 50px;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color : white;

            @include mQ($tablet) {
                width : 100px;
                height : 100px;
            }
        }
    }
}


// recent work section
.recentWork {
    padding: $padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 10px;
    background-color : $secondBcgColor;

    h2 {
        text-align: center;
        padding-top: 1em;
        font-size : 1.5em;
        margin-bottom: 1em;
        color: $bodyFontColor;

        @include mQ($tablet) {
            font-size : 2em;
        }
    }


    .showCaseWrap {
        width : 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @include mQ($desktop) {
            flex-direction: row;
            justify-content: space-evenly;
            gap : 20px;
        }
    }
}
// contact section
.contact {
    padding : $padding;
    background-color: $firstBcgColor;

    h2 {
        text-align: center;
        padding-top: 1em;
        font-size : 1.5em;
        margin-bottom: 1em;
        color: $bodyFontColor;
    }

    h3 {
        text-align: center;
        font-size : 1em;
        margin-bottom: 1em;
        color: $bodyFontColor;
    }

    form {
        display: flex;
        flex-direction: column;
        gap : 10px;
        margin-bottom: 1.5em;

        .formWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:nth-of-type(3) {
                align-items: flex-start;
            }

            label {

                @include mQ($desktop) {
                    font-size: 1.5em;
                }
            }
        }

        input,textarea {
            padding : 10px;
            width : 70%;
            font-size: $bodyFontSize;
        }

        button {
            width : 10.71em;
            padding : 10px;
            border: none;
            border-radius: 10px;
            font-size: 1.2em;
            color : $headerFontColor;
            margin-inline: auto;
        }
    }

    .error,
    .errorEmail
    {
        display: none;
        color : red;
    }
    .error_active,
    .errorEmail_active {
        display: block;
    }
}

footer {
    background-color: $secondBcgColor;
    padding: $padding;
    display: flex;
    flex-direction: column;
    align-items: center;

    .interactive__text {
        font-size: $bodyFontSize;
        color : $bodyFontColor;
        margin-top: 1.5em;
        text-align: center;

        @include mQ($tablet) {
            max-width: 60ch;
            font-size: 1.3em;
            line-height : 1.5em;
        }
    }

    ul {
        text-align: center;
        margin-block : 1em;

        @include mQ($desktop) {
            display : flex;
            gap : 10px;
        }
    }

    li {
        margin-bottom: .8em;
    }

    a {

        @include mQ($tablet) {
            font-size: 1.2em;
        }
    }

    .socialMediaWrap {
        display: flex;
        gap: 10px;
    }
}