// typography
$headerFont : 'Open Sans';
$bodyFont : 'Montserrat';
$headerFontSize : 2em;
$bodyFontSize : 1em;
$headerFontColor : #484B6A;
$bodyFontColor : #102542;

// colors
$firstBcgColor : #FAFAFA;
$secondBcgColor : #E4E5F1;

// utility
$padding : 20px;

// screen size
$tablet : 768px;
$desktop : 1020px;