@import '../../scss/mixin.scss';
@import '../../scss/variable.scss';
@import '../../scss/utility.scss';

* {
    padding : 0;
}
.top_part {
    text-align: center;
    padding : 2em;
    background-color: #6BAB90;

    h1 {
        font-size : $headerFontSize;
        font-family: $headerFont;
        color : $headerFontColor;

        @include mQ($tablet) {
            font-size: 3vw;
        }
    }
}

.bottom_part {
    background-color: #6BAB90;
    padding : $padding;
    display: flex;
    justify-content: space-between;
    position: relative;

    form {
        display: flex;
        flex-direction: column;
        gap : 10px;
        margin-bottom: 1.5em;
        width: 50%;

        .formWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:nth-of-type(3) {
                align-items: flex-start;
            }

            @include mQ($tablet) {
                justify-content: flex-start;
                gap: 2em;
            }
        }

        input,textarea {
            padding : 10px;
            width : 70%;
            font-size: $bodyFontSize;

            @include mQ($tablet) {
                width : 100%;
            }
        }

        button {
            width : 10.71em;
            padding : 10px;
            border: none;
            border-radius: 10px;
            font-size: 1.2em;
            color : $headerFontColor;
            margin-inline: auto;
        }
    }

    .socialFlag {
        display : flex;
        flex-direction: column;
        align-items: flex-end;
        gap : 10px;
        position: absolute;
        right: 0;

        div {
            display: block;  
            background-color: #fff;
            width : 20px;
            height : 50px;
            transition: .3s ease-in-out;
        }

        .flag_active {
            width : 50px;
            height : 50px;
        }
    }
}